name: Rust

on:
  push:
    branches: [ devel ]
  pull_request:
    branches: [ devel ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: rustfmt, clippy
    - name: Build with nightly
      uses: actions-rs/cargo@v1.0.1
      with:
        command: build
        toolchain: nightly
        args: --all-targets
    - name: Test with nightly
      uses: actions-rs/cargo@v1.0.1
      with:
        command: test
        toolchain: nightly
        args: --workspace
